<!-- footer -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h5 class="navbar-text">&copy; Copyright 2024.</h5>
    <h6 class="navbar-text">All Rights Reserved. <%= title %> </h6>
</nav>
