<!-- footer -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h4 class="navbar-text">&copy; Copyright 2024.</h4>
    <h5 class="navbar-text">All Rights Reserved. <%= title %> </h5>
</nav>