<!-- footer -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h7 class="navbar-text">&copy; Copyright 2025.</h7>
    <h7 class="navbar-text">All Rights Reserved. <%= title %> </h7>
</nav>