<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbarbrand" href="/"><i class="fa-solid fa-school" style="color: #6bbb85;"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  
          <li class="nav-item">
            <% if (title =="Home") { %>
              <a class="nav-link active" href="/">
            <% } else { %>
              <a class="nav-link" href="/">
            <% } %>
            <i class="fa-solid fa-house" style="color: #6bbb85;"></i>  Home</a>
          </li>
  
          <li class="nav-item">
            <% if (title =="Public") { %>
              <a class="nav-link active" href="/public">
            <% } else { %>
              <a class="nav-link" href="/public">
            <% } %>
            <i class="fa-solid fa-clipboard" style="color: #6bbb85;"></i>  Public</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
