html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* prevent horizontal scrolling */
}

.container {
    min-height: 100%;
    padding-bottom: 100px; /* accomadate for fixed footer */
}

.index-content {
    padding: 20px;
}

.index-page .index-section {
    background-image: url('/assests/images/code.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 150vh;
    padding: 10px 20px;
    text-align: center;
    color: white;
}

/* 
enable flexbot
text adjustments
*/
.jumbotron {
    height: 40vh;
    display: flex; 
    flex-direction: column; /* stack items vertical */
    justify-content: center; /* vertical */
    align-items: center;
    text-align: center;
}

/* everything under jumbotron on index.ejs */
.context-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.black-flexbox {
    display: flex;
    background-color: rgb(9, 56, 38);
    padding: 10px;
    border-radius: 10px;
}

/* left section of page */
.left-col {
    flex: 1;
    display: flex;
    padding-right: 20px;
    justify-content: center;
}

.personal-img {
    width: 350px;
    height: 150px;
    border-radius: 40%;
    object-fit: cover;
    border: 2px solid black;
}

/* right section of page */
.right-col {
    flex: 1;
    display: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    justify-content: center;
}

.bio-description p {
    font-size: 15px;
    color: #5edea6;
}



/* projects page */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 80px;
}

.project-section {
    flex: 1 1 calc(35% - 20px);
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    background-color: black;
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.project-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 20px;
}

.project-description p {
    padding: 10px 10px;
    font-size: 15px;
    color: #5edea6;
}

/* mobile responsive */
@media (max-width: 768px) {
    .index-page .index-section {
        background-attachment: scroll; /* adjust the fixed background */
        height: 100vh; 
    }

    .context-section {
        flex-direction: column; /* vertically stack sections */
    }

    /* block for person-img - do NOT display */
    .left-col {
        display: none;
    }

    /* block for bio - visable */
    .right-col {
        flex: none;
        width: 100%; 
        padding-right: 0;
        padding-left: 0;
    }

    /* do NOT display person-img for mobile */
    .personal-img {
        display: none;
    }

    .bio-description p {
        font-size: 14px; 
    }

    .projects-container {
        padding: 20px;
    }

    .project-section {
        flex: 1 1 100%; 
        margin-bottom: 20px;
    }

    .project-description p {
        font-size: 14px; 
    }

    .jumbotron {
        height: 30vh; 
    }
}
